 body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: white;
            margin: 0;
        }
        .folder-container {
            text-align: center;
            cursor: pointer;
        }
        .folder-container img {
            width: 100px;
        }
        .folder-name {
            margin-top: 8px;
            font-size: 14px; /* Schrift verkleinert */
            font-family: "Microsoft Yi Baiti", sans-serif; /* Schriftart gesetzt */
            border: none;
            text-align: center;
            background: none;
            outline: none;
            display: block; /* Stellt sicher, dass der Text unter dem Bild zentriert ist */
            width: 100%;
        }

       /* Stil für das Datum */
       #date {
           color: white;
           font-weight: bold;
           font-family: Arial, sans-serif; /* Arial Schriftart */
           text-shadow: 3px 3px 5px black;
           filter: blur(0.8px); /* Teletext-ähnlicher Verschwommeneffekt */
           text-align: center; /* Text zentrieren */
       }


       /* Stil für die Uhrzeit */
       #time {
           color: white;
           font-weight: normal;
           font-family: Arial, sans-serif; /* Arial Schriftart */
           text-shadow: 3px 3px 5px black;
           filter: blur(0.8px); /* Teletext-ähnlicher Verschwommeneffekt */
           text-align: center; /* Text zentrieren */
       }

  }
